* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

.top-nav {
    background: #4D4D4D;
    color: whitesmoke;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}

.top-nav h1 {
    float: left;
}

.user-count-container {
    float: right;
    padding: 4px;
    margin-right: 20px;
    cursor: pointer;
}

.user-count {
    background: rgb(236, 0, 0);
    border-radius: 20px;
    display: inline-block;
    padding: 6px 8px;
    width: 25px;
    height: 25px;
}

.user-list {
    display: none;
    position: absolute;
    top: 11%;
    right: 2.5%;
    background: rgb(116, 116, 116);
    padding: 10px;
    z-index: 1000;
    color: whitesmoke;
}

.user-list ul {
    list-style: none;
}

.user-list li {
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
    min-width: 100px;
}

.user-list li:first-child {
    padding-top: 0;
}

.user-list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.user-list:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: rgb(116, 116, 116);
    border-width: 15px;
    margin-left: -15px;
}

.typing-container {
    padding: 5px 10px;
    position: fixed;
    top: 85%;
    width: 100%;
    height: 5%;
    font-size: 0.85em;
    color: rgb(179, 179, 179);
}

.typing-container > * {
    float: left;
    margin-right: 10px;
}

form {
    background: #4D4D4D;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9.5%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background: rgba(130, 224, 255, 0.8);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 75%;
    overflow-y: auto;
    top: 10%;
}

#messages li {
    padding: 5px 10px;
    border-top: 1px solid whitesmoke;
}

#messages li:first-child {
    border-top: none;
}

#messages li:hover .message-time {
    opacity: 1;
}

.message-time {
    font-size: 0.85em;
    color: gray;
    opacity: 0.4;
    margin-right: 6px;
}

.message-name {
    font-weight: bold;
}

.ui-dialog-titlebar-close {
    display: none;
}

.choose-name .nickname {
    width: 100%;
    padding: 5px;
}
